@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Tilt+Prism&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #EBA01C
}

:root {
    --max-width-container: 1300px;
    --padding-container: 3rem 2rem;
    --primary-color: #094F9E;
    --secondary-color: #b7b7b775;
    --font-color: white;
    --url-color: #EBA01C;
    --primary-font: 'Tilt Prism', cursive;
    --secondary-font: 'Satisfy', cursive;


}

body {
    background: var(--secondary-color);
    color: var(--font-color);
    position: relative;
}

header {
    background: var(--primary-color);
}


.container {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: var(--padding-container);
}

.header__title,
.footer__title {
    font-family: var(--primary-font);
    letter-spacing: .2rem;
}

.galeria {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.galeria img {
    max-width: 100%;
    margin: 1rem;
    box-shadow: 0px 0px 60px -2px;
    transition: transform 1s;
}

.galeria img:hover {
    transform: scale(1.1);
    box-shadow: none;
}

.modal {
    padding:2rem 0;
    position: fixed;
    overflow: scroll;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 9;
}

.modal__container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s;
}

span#close {
    font-size: 3rem;
    top: 10px;
    right: 10px;
    position: inherit;
}

footer {
    background: var(--primary-color);
}

.footer__text {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: var(--secondary-font);
}